@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.bg-color {
  background-color: #6b6b6b;
  height: 70px;
  width: 100%;
}

.wrapper {
  padding: 0 144px;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 70px;
  /* скрываем чекбокс */
  /* стилизуем кнопку */
  /* добавляем "гамбургер" */
  /* элементы меню */
}
.header__nav {
  list-style-type: none;
}
.header__nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header__nav ul li a {
  font-family: "Roboto", sans-serif;
  color: #fff;
  cursor: pointer;
}
.header__nav ul li a:hover {
  text-decoration: underline;
  color: #dfdfdf;
}
.header .hamburger-menu {
  display: none;
}
.header #menu__toggle {
  opacity: 0;
}
.header .menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: relative;
  top: -10px;
  right: 0;
  left: auto;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .menu__btn > span,
.header .menu__btn > span::before,
.header .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.header .menu__btn > span::before {
  content: "";
  top: -8px;
}
.header .menu__btn > span::after {
  content: "";
  top: 8px;
}
.header .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  left: auto;
  width: 150px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #6b6b6b;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
.header .menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.header .menu__item:hover {
  background-color: #cfd8dc;
}
.header #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
  left: auto;
}
.header .menu__btn > span,
.header .menu__btn > span::before,
.header .menu__btn > span::after {
  transition-duration: 0.25s;
}
.header .menu__box {
  transition-duration: 0.25s;
}
.header .menu__item {
  transition-duration: 0.25s;
}

.hero {
  background: #ebebeb;
  height: 100%;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 128px;
  flex-direction: row;
  flex-wrap: wrap;
}
.hero__wrapper--left {
  padding-top: 165px;
  max-width: 573px;
  width: 100%;
}
.hero__wrapper--left .title {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 39px;
  font-weight: 400;
  line-height: 45px;
}
.hero__wrapper--left .text {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 14px;
  line-height: 26px;
}
.hero__wrapper--left .btn a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000;
  font-family: "Roboto", sans-serif;
  background: #fff;
  padding: 15px 25px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.hero__wrapper--left .btn a:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  top: -2px;
}
.hero__wrapper--left .btn a:active {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -3px;
}
.hero__wrapper--right {
  margin-top: 67px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 23px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.hero__wrapper--right--img img {
  width: 239px;
}
.hero__wrapper--right--text {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 320px;
  margin-bottom: 67px;
}

.cooperate {
  width: 100%;
  height: 100%;
  background: #d3d3d3;
}
.cooperate__wrapper {
  padding: 53px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.howItWors__wrapper {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 215px;
  flex-direction: row;
  flex-wrap: wrap;
}
.howItWors__wrapper--left {
  width: 501px;
}
.howItWors__wrapper--left .title {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 14px;
}
.howItWors__wrapper--left .text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
.howItWors__wrapper--right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-direction: column;
  flex-wrap: nowrap;
}
.howItWors__wrapper--right--img img {
  width: 240px;
  margin-bottom: 20px;
}
.howItWors__wrapper--right--text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #777;
  text-align: center;
}
.howItWors__wrapper--right--mobile {
  display: none;
}
.howItWors__wrapper .spec {
  border-radius: 2px;
  background: #3b79c3;
  color: #fff;
  border: none;
  padding: 3px;
}

.layout {
  padding: 90px 0;
  background: #ebebeb;
}
.layout__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  flex-wrap: nowrap;
}
.layout__wrapper--title {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}
.layout__wrapper--subTitle {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 11px;
}
.layout__wrapper--img img {
  width: 240px;
  margin: 40px 0 20px 0;
}
.layout__wrapper--text {
  color: #777;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.layout__wrapper .spec {
  border-radius: 2px;
  background: #3b79c3;
  color: #fff;
  border: none;
  padding: 3px;
}
.layout__wrapper--cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.layout__wrapper--cards-item {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  max-width: 354px;
  padding: 30px 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.layout__wrapper--cards-item .title {
  color: #333;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.layout__wrapper--cards-item .text {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.tips {
  padding: 100px 0;
}
.tips__wrapper-title {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
}
.tips__wrapper--cards {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.tips__wrapper--cards .item {
  max-width: 298px;
  padding: 0 20px;
}
.tips__wrapper--cards .item--img img {
  width: 229px;
  margin-bottom: 30px;
}
.tips__wrapper--cards .item-title {
  margin-bottom: 13px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.tips__wrapper--cards .item-text {
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer .bg-color {
  height: 100px;
}
.footer .footer__nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 40px 0;
}
.footer .footer__nav ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.footer .footer__nav ul li a:hover {
  text-decoration: underline;
  color: #dfdfdf;
}
.footer .copyRight {
  background: #111;
  color: #777;
  padding: 15px 0;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
}

@media (max-width: 470px) {
  .footer .footer__nav ul {
    gap: 20px;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    padding: 0 77px;
  }
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 44px;
  }
}
@media (max-width: 480px) {
  .header .hamburger-menu {
    display: block;
  }
  .header__nav {
    display: none;
  }
}
@media (max-width: 1330px) {
  .hero__wrapper {
    gap: 50px;
    justify-content: space-between;
  }
}
@media (max-width: 1150px) {
  .hero__wrapper {
    gap: 0;
  }
}
@media (max-width: 1100px) {
  .hero__wrapper--left {
    max-width: 400px;
  }
  .hero__wrapper--left .title {
    font-size: 31px;
  }
}
@media (max-width: 890px) {
  .hero__wrapper {
    align-items: center;
    flex-direction: column;
  }
  .hero__wrapper--left {
    padding-top: 50px;
    max-width: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .hero__wrapper--left .title {
    font-size: 38px;
    text-align: center;
  }
  .hero__wrapper--left .text {
    text-align: center;
  }
}
@media (max-width: 575px) {
  .hero__wrapper--left {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .hero__wrapper--left {
    max-width: 400px;
  }
  .hero__wrapper--left .btn a {
    width: 300px;
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .cooperate__wrapper {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
  }
}
@media (max-width: 700px) {
  .cooperate__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 440px) {
  .cooperate__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1340px) {
  .howItWors__wrapper {
    gap: 100px;
  }
}
@media (max-width: 1100px) {
  .howItWors__wrapper--left {
    width: 401px;
  }
}
@media (max-width: 960px) {
  .howItWors__wrapper {
    gap: 70px;
  }
  .howItWors__wrapper2 {
    gap: 30px;
  }
}
@media (max-width: 890px) {
  .howItWors__wrapper {
    align-items: center;
    flex-direction: column;
  }
  .howItWors__wrapper--left {
    padding-top: 50px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .howItWors__wrapper--left .title {
    font-size: 38px;
    text-align: center;
  }
  .howItWors__wrapper--left .text {
    text-align: center;
  }
  .howItWors__wrapper--right2 {
    display: none;
  }
  .howItWors__wrapper--right--mobile {
    display: block;
  }
  .howItWors__wrapper--right--img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (max-width: 1150px) {
  .layout__wrapper--cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 890px) {
  .layout__wrapper--cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1300px) {
  .tips__wrapper--cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .tips__wrapper--cards .item {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .tips__wrapper--cards {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=style.css.map */