@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$font-family: "Roboto", sans-serif;

@mixin flex(
  $justify-content: flex-start,
  $align-items: stretch,
  $gap: 0,
  $direction: row,
  $wrap: nowrap
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.bg-color {
  background-color: #6b6b6b;
  height: 70px;
  width: 100%;
}

.wrapper {
  padding: 0 144px;
  max-width: 100%;
}

.header {
  @include flex(space-between, center);
  height: 70px;

  &__nav {
    list-style-type: none;

    & ul {
      list-style-type: none;
      @include flex(flex-start, stretch, 40px);

      & li a {
        font-family: $font-family;
        color: #fff;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          color: #dfdfdf;
        }
      }
    }
  }
  .hamburger-menu {
    display: none;
  }
  /* скрываем чекбокс */
  #menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: relative;
    top: -10px;
    right: 0;
    left: auto;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    left: auto;
    width: 150px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #6b6b6b;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    left: auto;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }
}

.hero {
  background: #ebebeb;
  height: 100%;

  &__wrapper {
    @include flex(center, flex-start, 128px, row, wrap);
    &--left {
      padding-top: 165px;
      max-width: 573px;
      width: 100%;

      .title {
        font-family: $font-family;
        color: #333;
        font-size: 39px;
        font-weight: 400;
        line-height: 45px;
      }
      .text {
        font-family: $font-family;
        color: #333;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-top: 14px;
        line-height: 26px;
      }
      .btn a {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #000;
        font-family: $font-family;
        background: #fff;
        padding: 15px 25px;
        display: inline-block;
        border-radius: 5px;
        margin-top: 30px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          position: relative;
          top: -2px;
        }
        &:active {
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
          position: relative;
          top: -3px;
        }
      }
    }
    &--right {
      margin-top: 67px;
      @include flex(flex-start, center, 23px, column, nowrap);
      &--img img {
        width: 239px;
      }

      &--text {
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-family: $font-family;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        width: 320px;
        margin-bottom: 67px;
      }
    }
  }
}

.cooperate {
  width: 100%;
  height: 100%;
  background: #d3d3d3;
  &__wrapper {
    padding: 53px 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-between;
    align-items: center;
    justify-items: center;
  }
}

.howItWors {
  &__wrapper {
    margin: 50px 0;
    @include flex(center, center, 215px, row, wrap);

    &--left {
      width: 501px;

      .title {
        font-family: $font-family;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        margin-bottom: 14px;
      }

      .text {
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        font-family: $font-family;
      }
    }

    &--right {
      @include flex(flex-start, center, 0, column, nowrap);
      &--img img {
        width: 240px;
        margin-bottom: 20px;
      }
      &--text {
        font-family: $font-family;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        color: #777;
        text-align: center;
      }
      &--mobile {
        display: none;
      }
    }
    .spec {
      border-radius: 2px;
      background: #3b79c3;
      color: #fff;
      border: none;
      padding: 3px;
    }
  }
}

.layout {
  padding: 90px 0;
  background: #ebebeb;
  &__wrapper {
    @include flex(center, center, 0, column, nowrap);

    &--title {
      font-family: $font-family;
      color: #333;
      font-size: 31px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
    }

    &--subTitle {
      color: #333;
      font-family: $font-family;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-top: 11px;
    }

    &--img img {
      width: 240px;
      margin: 40px 0 20px 0;
    }

    &--text {
      color: #777;
      font-family: $font-family;
      font-size: 12px;
      font-weight: 400;
      line-height: 21px;
      text-align: center;
    }
    .spec {
      border-radius: 2px;
      background: #3b79c3;
      color: #fff;
      border: none;
      padding: 3px;
    }

    &--cards {
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      &-item {
        border-radius: 5px;
        background: #fff;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
        max-width: 354px;
        padding: 30px 65px;
        @include flex(center, center, 35px, column, nowrap);

        .title {
          color: #333;
          text-align: center;
          font-family: $font-family;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }

        .text {
          font-family: $font-family;
          text-align: center;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
}
.tips {
  padding: 100px 0;
  &__wrapper {
    &-title {
      color: #333;
      font-family: $font-family;
      font-size: 32px;
      font-weight: 400;
      line-height: 36px;
    }
    &--cards {
      margin-top: 41px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .item {
        max-width: 298px;
        padding: 0 20px;
        &--img img {
          width: 229px;
          margin-bottom: 30px;
        }
        &-title {
          margin-bottom: 13px;
          font-family: $font-family;
          color: #333;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        &-text {
          color: #333;
          font-family: $font-family;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
}

.footer {
  &__wrapper {
    @include flex(space-between, center, 0, row, nowrap);
  }
  .bg-color {
    height: 100px;
  }
  .footer__nav {
    ul {
      list-style-type: none;
      @include flex(center, center, 50px, row, nowrap);
      margin: 40px 0;
      li a {
        color: #fff;
        font-family: $font-family;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;

        &:hover {
          text-decoration: underline;
          color: #dfdfdf;
        }
      }
    }
  }
  .copyRight {
    background: #111;
    color: #777;
    padding: 15px 0;
    font-size: 12px;
    font-weight: 400;
    font-family: $font-family;
    line-height: 20px;
  }
}
@media (max-width: 470px) {
  .footer {
    .footer__nav {
      ul {
        gap: 20px;
      }
    }
  }
}
// HEADER
@media (max-width: 1300px) {
  .wrapper {
    padding: 0 77px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 0 44px;
  }
}
@media (max-width: 480px) {
  .header {
    .hamburger-menu {
      display: block;
    }
  }
  .header__nav {
    display: none;
  }
}
// HERO
@media (max-width: 1330px) {
  .hero__wrapper {
    gap: 50px;
    justify-content: space-between;
  }
}
@media (max-width: 1150px) {
  .hero__wrapper {
    gap: 0;
  }
}

@media (max-width: 1100px) {
  .hero__wrapper--left {
    max-width: 400px;
  }

  .hero__wrapper--left .title {
    font-size: 31px;
  }
}

@media (max-width: 890px) {
  .hero__wrapper {
    align-items: center;
    flex-direction: column;
  }

  .hero__wrapper--left {
    padding-top: 50px;
    max-width: 576px;
    @include flex(center, center, 0, column, wrap);
    .title {
      font-size: 38px;
      text-align: center;
    }
    .text {
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .hero__wrapper--left {
    max-width: 400px;
  }
}
@media (max-width: 480px) {
  .hero__wrapper--left {
    max-width: 400px;

    .btn a {
      width: 300px;
      text-align: center;
    }
  }
}

// COOPERATE
@media (max-width: 1300px) {
  .cooperate {
    &__wrapper {
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      gap: 20px;
    }
  }
}
@media (max-width: 700px) {
  .cooperate {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 440px) {
  .cooperate {
    &__wrapper {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// HowItWors
@media (max-width: 1340px) {
  .howItWors__wrapper {
    gap: 100px;
  }
}

@media (max-width: 1100px) {
  .howItWors__wrapper {
    &--left {
      width: 401px;
    }
  }
}

@media (max-width: 960px) {
  .howItWors__wrapper {
    gap: 70px;
  }
  .howItWors__wrapper2 {
    gap: 30px;
  }
}

@media (max-width: 890px) {
  .howItWors__wrapper {
    align-items: center;
    flex-direction: column;
  }

  .howItWors__wrapper--left {
    padding-top: 50px;
    max-width: 300px;
    @include flex(center, center, 0, column, wrap);
    .title {
      font-size: 38px;
      text-align: center;
    }
    .text {
      text-align: center;
    }
  }

  .howItWors__wrapper--right2 {
    display: none;
  }
  .howItWors__wrapper--right--mobile {
    display: block;
  }

  .howItWors__wrapper--right--img {
    @include flex(center, center, 0, column, wrap);
  }
}
// LAYOUT
@media (max-width: 1150px) {
  .layout__wrapper--cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 890px) {
  .layout__wrapper--cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
// TIPS
@media (max-width: 1300px) {
  .tips__wrapper--cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    .item {
      margin-top: 50px;
    }
  }
}
@media (max-width: 600px) {
  .tips__wrapper--cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
